.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.trend {
    height: 100%;
    width: 50%;
    padding: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.title {
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    text-align: center;
}

.chart {
}


.detail {
    display: flex;
    flex-direction: column;
}

.pkgName {
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    margin: 0 1rem;
}

.pkgVer {
    font-size: 1rem;
    font-weight: bold;
    color: darkgray;
}

.tree{
    padding: 1rem 2rem;
    flex: 1;
    overflow: hidden;
}
